<!-- <p>vehicle-view works!</p>
<div>


  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" aria-controls="basic" aria-selected="true" data-toggle="tab" href="#basic" role="tab">Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-controls="menu" aria-selected="false" data-toggle="tab" href="#menu" role="tab">Photos</a>
    </li>
  </ul>


  <div class="tab-content">
    <div id="basic" class="tab-pane show active" aria-labelledby="basic-tab" role="tabpanel">
        <ul class="list-group">
          <li class="list-group-item">Make : {{vehicle.make.name}}</li>
          <li class="list-group-item">Model : {{vehicle.model.name}}</li>
          <li class="list-group-item">Is Registered : {{vehicle.isRegistered}}</li>
        </ul>

        <h2>Features</h2>
        <ul *ngFor="let f of vehicle.features"  class="list-group">
          <li class="list-group-item">{{f.name}}</li>
        </ul>

        <h2>Contact Details</h2>
        <ul class="list-group">
          <li class="list-group-item">Name : {{vehicle.contact.name}}</li>
          <li class="list-group-item">Email : {{vehicle.contact.email}}</li>
          <li class="list-group-item">Phone : {{vehicle.contact.phone}}</li>
        </ul>

        <p>
          <button class="btn btn-primary" (click)="edit()" >Edit</button>
          <button *ngIf="vehicle.id" class="btn btn-danger" type="button"  (click)="delete()">Delete</button>
          <button *ngIf="vehicle.id" class="btn" type="button"  (click)="viewVehicles()">View vehicles</button>
      </p>
    </div>

    <div class="tab-pane" aria-labelledby="menu-tab" id="menu" role="tabpanel">
      <h2>Photos</h2>
      <p> hmmmmmmmm</p>
    </div>
  </div>
</div> -->

<h1>Vehicle</h1>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Vehicle</a></li>
    <li role="presentation"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" *ngIf="vehicle">
    <!-- Vehicle tab -->
    <div role="tabpanel" class="tab-pane active" id="basic">
      <h2>Basics</h2>
      <ul>
        <li>Make: {{ vehicle.make.name }}</li>
        <li>Model: {{ vehicle.model.name }}</li>
        <li>Registered: {{ vehicle.isRegistered ? 'Yes' : 'No' }}
      </ul>
      <h2>Features</h2>
      <ul>
        <li *ngFor="let f of vehicle.features">{{ f.name }}</li>
      </ul>
      <h2>Contact</h2>
      <ul>
        <li>Contact Name: {{ vehicle.contact.name }}</li>
        <li>Contact Phone: {{ vehicle.contact.phone }}</li>
        <li>Contact Email: {{ vehicle.contact.email }}</li>
      </ul>
      <br/>
      <p>
        <a class="btn btn-primary" [routerLink]="['/vehicles/edit/', vehicle.id]">Edit</a>
        <button class="btn btn-danger" (click)="delete()">Delete</button>
        <a class="btn btn-default" [routerLink]="['/vehicles']">View All Vehicles</a>
      </p>
    </div>
    <!-- Photos tab -->
    <div role="tabpanel" class="tab-pane" id="photos">
      <h2>Photos</h2>
      <input type="file" (change)="uploadPhoto()" #fileInput/>
      <img *ngFor="let photo of photos" src="/uploads/{{photo.fileName}}" class="img-thumbnail">
      <div class="progress" *ngIf="progress > 0">
        <div class="progress-bar" role="progressbar" [style.width.%]="progress" [style.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>
